* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    outline: none;
  }

  .body {
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-bottom: 1px;
  }
  
  form {
    max-width: 400px;
    margin: 20px;
    padding: 20px;
    border: 1px solid #aaa;
    border-radius: 8px;
    background-color: white;
    width: 25vw;
  }
  
  form label {
    display: block;
    margin-bottom: 20px;
  }
  
  form span {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
    background-color: #f0f0f0;
    padding: 5px;
    text-align: center;
    border-radius: 4px;
  }
  
  form input {
    display: block;
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #aaa;
    border-radius: 6px;
  }
  
  form button {
    display: block;
    margin: 10px auto;
    padding: 8px 20px;
    border: 1px solid #333;
    background-color: white;
    cursor: pointer;
    border-radius: 6px;
  }
  
  form button:hover {
    background-color: #f0f0f0;
  }
  
  /* -------------------------- */
  /* Layout do currículo (PDF) */
  /* -------------------------- */
  .conteudo {
    width: 40vw;
    margin: 20px auto;
    background-color: white;
    padding: 20px;
    position: relative;
    box-shadow: 1px 1px 60px rgb(182, 182, 182);
  }
  
  /* Triângulo azul no topo */
  .cabecalho-decoracao {
    width: 0;
    height: 0;
    border-left: 250px solid #4db8ff;
    border-bottom: 200px solid transparent;
    position: absolute;
    top: 0;
    left: 0;
  }
  

  /* Foto */
  .foto {
    width: 170px;
    height: 170px;
    right: 150px;
    border-radius: 50%;
    background-color: #ccc;
    margin-top: 25px;
    border: 5px solid white;
    position: relative;
    z-index: 2;
    outline: none;
    object-fit: cover;
}
  
  /* Nome e título */
  .cabecalho {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: end;
    text-align: right;
    margin-right: 20px;
    margin-top: -80px;
    word-break: break-word;
    gap: 0.3em;
  }

  .cabecalho h1,
  .cabecalho p{
    width: 60%;
    /* display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end; */
  }


  
  .cabecalho h1 {
    font-size: 24px;
    margin-bottom: 5px;
  }
  
  /* aqui é aonde vai ficar o email e as outras paradas */
  .cabecalho p {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: flex-end;
    font-weight: normal;
    color: #666;
    font-size: 0.8em;
    gap: 1em;
  }
  
  /* Seções */
  .secao {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
    margin-top: 30px;
    text-align: start;
  }
  
  .secao h3 {
    font-size: 18px;
    color: #000;
    border-bottom: 2px solid #4db8ff;
    padding-bottom: 4px;
    margin-bottom: 8px;
    font-weight: bold;
  }
  
  .secao p {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: 14px;
    line-height: 1.5;
    max-width: 30vw;
  }
  